.inscripciones-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.btn-cursos, .btn-inscripciones {
    background-color: black;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.btn-cursos:hover, .btn-inscripciones:hover {
    background-color: #333;
}